/*
// I am committed to being a person of integrity.
// This project is submitted as part of the assessment for Year 8 IST.
// This is all my own work. I have referenced any work used from other
// sources and have not plagiarised the work of others.
// (signed) Jack Bashford
*/

@font-face {
	font-family: "Arcade";
	src: url("retroFont.TFF");
	/* Font source: dafont.com */
}

body {
	background-color: black;
	color: #ddd;
}

canvas {
	display: none;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid lime;
}

h1 {
	display: none;
	font-family: "Arcade";
	text-align: center;
}

button {
	width: 300px;
	height: 150px;
	margin-left: calc(50vw - 150px);
	margin-top: calc(50vh - 50px);
	font-size: 30px;
	font-family: "Arcade";
	color: white;
	background: lime;
	border: none;
}
